body {
    width: 100%;
    background-image: url("back-image.jpeg");
}

/*---------------------------ヘッダーの設定---------------------------*/

.nav-item {
    margin: 0 30px 0 30px;
}

ul a{
    color: black;
}
.navbar-right {
    margin-right: 140px;
}

.navbar-brand {
    font-size: 25px !important;
}

.current {
    border-bottom: 4px solid black;
}


/*---------------------------りすとの設定---------------------------*/

.which {
    text-align: center;
    color: black;
}

.box {
    border: 8px solid #8e430b;
    margin: 10px auto 0 auto;
    width: 90%;
    text-align: center;
    background-color: green;
    color: white;
}

.list {
    display: inline-block;
    width: 200px;
    border-bottom: 3px solid white;
    word-wrap: break-word;
    font-weight: bold;
}

img{
    width: 30px;
}
.fa-minus-circle {
    cursor: pointer;
}
